<div class="container p-3">
    <div class="row pt-2 border border-2 border-dark">
        <div class="col">
            <form>
                <div class="row">
                    <div class="col">
                        <label>COORDINATES</label>
                        <div class="row mt-2">
                            <div class="col">
                                <label>Latitude</label>
                                <%= select_tag :latitude, options_for_select(coordinate_options), { class: "form-select" } %>
                            </div>
                            <div class="col">
                                <label>Longitude</label>
                                <%= select_tag :longitude, options_for_select(coordinate_options), { class: "form-select" } %>
                            </div>
                            <div class="col">
                                <label>Direction</label>
                                <%= select_tag :direction, options_for_select(direction_options), { class: "form-select" } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label>COMMANDS</label>
                        <div class="row mt-2">
                            <div class="col">
                                <input type="button" class="btn btn-outline-success w-100 btn-command" value="MOVE" />
                            </div>
                            <div class="col">
                                <input type="button" class="btn btn-outline-primary w-100 btn-command" value="LEFT" />
                            </div>
                            <div class="col">
                                <input type="button" class="btn btn-outline-info w-100 btn-command" value="RIGHT" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="command-container" class="row border border-2 border-start-0 border-end-0 border-dark mt-3 d-none">
                    <div class="col p-3"></div>
                    <%= hidden_field_tag "commands" %>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3 mb-3">REPORT</button>
            </form>
        </div>
    </div>
    <div class="row mt-3 border border-2 border-dark">
        <div class="col p-3">
            <label>Input</label>
            <div class="row">
                <div id="inputValue" class="col"></div>
            </div>
        </div>
        <div class="col p-3">
            <label>Output</label>
            <div class="row">
                <div id="outputValue" class="col"></div>
            </div>
        </div>
    </div>
</div>
